
    <footer>
      <div class="wrapper">
        <div class="block">
          <div class="container">
            <div class="block__about">
              <h2>
                Grayscale Hong Kong
              </h2>

              <p>
                Grayscale is an international web design and development agency located in Hong Kong. We work on projects big and small, love designing for a good cause and would love to meet you (as long as you’re not an asshole 💩)
              </p>

              <a href="https://grayscale.com.hk/contact/" class="button button-primary">
                Let’s get down to business
              </a>
            </div>

            <div class="block__team">
              <h2>
                Who’s on the playground?
              </h2>

              <p>
                Get to know the children of Grayscale (hint: it’s all of them)
              </p>

              <a href="{{ '/who' | relative_url }}" class="button button-primary">
                Meet the children
              </a>
            </div>

            <div class="block__cr">
              <p>
                <span>
                  Copyright ©2011–2019  <br/>Grayscale Limited
                </span>

                <span>
                  All Rights Reserved
                </span>

                <span>
                  Made with ♥ in Hong Kong
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="offcanvas">

    </div>

  </div>

  <!-- scripts -->
  <script src="/js/application.js"></script>

</body>
</html>
