.page-front {
  .intro {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    min-height: 100vh;
    background: no-repeat $color-light;
    background-image: url('/assets/images/bg-frontpage-curve.svg');
    background-position: left top;
    background-size: cover;
    @include gs-transition;

    @media (min-width: 1024px) and (min-aspect-ratio: 4 / 3) {
      background-position: left bottom;
    }

    .intro__content {
      @include gs-breakpoint(medium, up) {
        @include gs-grid-column(9, $grid-column-count);
      }

      @include gs-breakpoint(large, up) {
        @include gs-grid-column(5, $grid-column-count);
      }

      h1 {
        text-align: left;
      }

      .button {
        background-image: url('data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIwIDAgMTAgMTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHRleHQgeD0iMCIgeT0iMTAiIGZpbGw9IiNmZmYiIHN0eWxlPSJmb250LWZhbWlseTogc2Fucy1zZXJpZiI+4oaTPC90ZXh0Pjwvc3ZnPg==');
        background-size: 1em;

        &:hover, &:focus, &:active {
          background-position-x: calc(100% - 1.5em);
          background-position-y: calc(100% + 1.5em);
          color: $color-white;
        }
      }
    }

    .intro__image {
      display: none;

      @include gs-breakpoint(large, up) {
        @include gs-grid-column(auto);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .showcase {
    padding-top: 5rem;
    padding-bottom: 5rem;

    .showcase__section {
      padding-top: 5rem;
      padding-bottom: 5rem;

      .header {
        @include gs-grid-row(left);
        display: flex;
        align-items: flex-end;
        margin-bottom: 2rem;

        &__content,
        &__image {
          @include gs-grid-column(1, 2);
        }

        &__content {
          h2 {
            color: $color-major;
          }
        }
      }

      .content {
        &__group {
          @include gs-grid-row(left);
        }

        .project {
          @include gs-grid-column(1, 1);
          margin-bottom: 2rem;

          @include gs-breakpoint(medium, up) {
            @include gs-grid-column(1, 2);
          }

          @include gs-breakpoint(large, up) {
            @include gs-grid-column(1, 3);
          }

          &__image {
            $ratio: 140 / 320;

            @include gs-transition;
            padding-top: $ratio * 100%;
            margin-bottom: 1rem;
            position: relative;
            border-radius: 4px;
            overflow: hidden;
            box-shadow: 0px 4px 10px rgba($color-minor, 0.15);

            &:hover,
            &:focus {
              box-shadow: 0px 8px 20px rgba($color-minor, 0.4);
            }

            a {
              border: 0;
              position: absolute;
              top: 0;
              right: 0;
              bottom: 0;
              left: 0;
              border-radius: 4px;
              overflow: hidden;
            }

            img {
              @extend %sr-only;
            }
          }

          &__info {
            .title {
              color: $color-black;
              font-size: 1.2rem;
              line-height: 1.4;
              text-align: left;
              margin-bottom: 0.25rem;

              a {
                @include gs-transition;
                border-bottom: 0;

                &:hover,
                &:focus {
                  color: $color-major;
                }
              }
            }

            .author {
              font-size: 0.75rem;
              line-height: 1.2;
              display: block;
              margin-bottom: 1rem;

              &::before {
                content: 'By ';
              }
            }
          }
        }
      }
    }
  }
}
